@import '../pages/scss/global.scss';



.mainContainer{
    overflow-x: hidden;
    position: relative;
    background: wheat;

}

.mainbody{
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    width: 100vw;
    height: 100vh;
    // background: black;
    color: white;
    margin-top: 0;
}



.headerDiv{ 
  position: relative;
//   width: fit-content;
  height: fit-content;
  transform-style: preserve-3d; /* enable 3D space */
  transform-origin: 50% 0%  50%;
  color: $main-color;
  font-family: $clashfont;
  font-weight: 600;
  padding:  8vh $extreme-spacing;
  //   z-index: 10;
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}


.lineDiv{
    border: solid 1px grey;
    width: calc(100vw - 420px);
    position: relative;
    display: flex;
    top: -13px;
}


.firstDiv{
    display: flex;
}



.magicDiv{
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: calc(400px * (100vw / 1500px));
    letter-spacing: 100px;
    top: -100px;
    left: -70px;
    color: rgb(206, 240, 192);
    transform: scale(1.2);
    z-index: -10;
    user-select: none;
}

// header:hover{
//     animation: rotateX 1s linear;
// }

// @keyframes rotateX {
//     0% {
//       transform: rotateX(0deg);
//     }
//     100% {
//       transform: rotateX(360deg);
//     }
//   }


.priDiv{
    margin: 0 $extreme-spacing;
    position: relative;
    color: rgb(0, 0, 0);
    z-index: 100;
    // height: calc(100vh - 18.5vh);
}

.videoDiv{
    position: relative;
    height: 70vh;
    top: 0;
    right: 0;
    margin-bottom: 100px;
}

.video3{
    filter: grayscale(80%);
    // width: inherit;
    object-fit: cover;
    object-position: 0px 0px;
    height: inherit;
    position: relative;
    z-index: 1;
}

.burnaText{
    position: absolute;
    color: rgb(86, 41, 41);
    font-family: $clashfont;
    z-index: 1000;
    left: 10px;
    top: 10px;
    font-size: 10px;
}

.firstDiv1{
    width: 70vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
    p{
        font-size: 90px;
        font-family: $clashfont;
        font-weight: 700;
        padding: 0;
        letter-spacing: 2px;
    }
}


.firstDiv2{
    position: absolute;
    font-family: $clashfont;
    height: 15vh;
    display: flex;
    right: calc(35vw - 100px);
    top: 300px;
    z-index: 100;

    p{
        width: 200px;
        position: relative;
        top: 25px;
        margin-right: 10px;
    }
}

.firstDiv3{
    // background: rgb(0, 0, 0);
    color: rgb(126, 113, 113);
    text-transform: uppercase;
    display: flex;
    justify-items: center;
    position: absolute;
    width: 50vw;
    top: 350px;
    left: 200px;



    p{
        // height: 25vh;
        // width: 30vw;
        // font-size: 30px;
        // font-weight: 700;
        // font-family: $melofont;
        // display: flex;
        // align-items: end;
        display: none;
    }
}

.ronaldoDiv{
    width: 200px;
    height: inherit;
    background-image: url('https://phantom-marca.unidadeditorial.es/497fbd11cb2330a6fa1c122d502a4c3e/crop/152x0/1866x1143/resize/828/f/webp/assets/multimedia/imagenes/2022/10/11/16655080063426.png');
    background-size: contain;
    background-repeat: no-repeat;
   
}


.spinningDiv{
    position: absolute;
    top: 50vh;
    width: 15vw;
    height: fit-content;
}

.spinningDivv{
    position: relative;
    width: 150px;
    height: 150px;
    background: $main-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinningDivPara{
    position: absolute;
    left: 50%;
    top: -16%;
    animation: rotate 10s linear infinite;
    transform-origin: 0 100px;

   
    
    span{
        position: absolute;
        transform-origin: 0 100px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $chillfont;
    }
}

// text {
//     fill: rgb(0, 0, 0);
//     font-family: $clashfont;
//     font-size: 22px;
//     font-weight: 500;
//     text-transform: uppercase;
//     // font-variant-ligatures: none;
//     letter-spacing: 6px;
//     animation: rotate 25s linear infinite;
//     transform-origin: 250px 250px;
//     position: absolute;
//     z-index: 10000;
//   }


//   svg{
//     max-width: 80vmin;
//   }
  
//   @keyframes rotate {
//     to {
//       transform: rotate(360deg);
//     }
//   }
  
//   .textcircle {
//     transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
//     transform-origin: 250px 250px;
//   }
  
//   svg:hover .textcircle {
//     transform: scale(1.2) rotate(90deg);
//   }





@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
   
    100%{
        transform: rotate(360deg);
    }
}

.stars{
    // position: absolute;
    background: black;  
    border-radius: 50%;    
    width: 45px;
    height: 45px;          
    display: flex;
    align-items: center;
    justify-content: center;    
    border: solid $main-color 1px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}






/********************MEDIA QUERIES*******************/
@media screen and (max-width: 1250px) {
    .firstDiv1{
        width: 70vw;
        
        p{
            font-size: 70px;
        }
    }


    .firstDiv2{
        right: calc(40vw - 100px);
        top: 300px;
        height: 15vh;
    }

    .videoDiv{
        margin-bottom: 10rem;
    }

    .spinningDiv{
        display: none;
    }
}



@media screen and (max-width: 900px) {

    .firstDiv1{
        width: 70vw;
        
        p{
            font-size: 50px;
        }
    }

    .magicDiv{
        top: 50px;
        letter-spacing: 3px;
        right: 50px;
    }

    .firstDiv2{
        
        right: calc(40vw - 100px);
        top: 270px;
        height: 15vh;
       
    
        p{
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 600px) {

    .firstDiv1{
        width: 70vw;
        
        p{
            font-size: 40px;
        }
    }

    .videoDiv{
        height: 50vh;
        
    }

    .lineDiv{
        width: calc(100vw - 200px);
    }

    
.stars{  
    width: 35px;
    height: 35px;
    
    .star{
        height: 20px;
    }
}


.firstDiv2{
        
    right: calc(40vw - 100px);
    top: 300px;
    height: 10vh;
   

    p{
        width: 40%;
        margin-top: -25px;
        font-size: 12px;
    }
}

}
  

@media screen and (max-width: 450px) {

    .firstDiv{
        position: relative;
        top: 30px;
    }
    
    .firstDiv1{
        width: 70vw;
        
        p{
            font-size: 35px;
        }
    }

.headerDiv{
    margin-top: -20px;
}

    .videoDiv{
        top: -50px;
        height: 35vh;
        margin-left: -100px;
        z-index: -1;
    }
}